<section *ngIf="offerDetails">
  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">
          <!-- Home -->
          {{'app-name' | transloco}}
        </a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)" *ngIf="IsEnglish">
          <!-- Dr. -->
            {{'find-a-doctor.doctors-list.cards.dr' | transloco}}
            {{offerDetails['doctorDto']['FullName']}}
        </a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)" *ngIf="IsArabic">
          <!-- Dr. -->
            {{'find-a-doctor.doctors-list.cards.dr' | transloco}}
            {{offerDetails['doctorDto']['FullNameAr']}}
        </a></li>
      </ol>
    </nav>
    <div class="row">
      <div class="col-lg-7">
        <div class="card info">
            <div class="card-body">
              <div class="user">
                <div class="image">
                  <img src="{{storageUrl}}/{{offerDetails['doctorDto']['Image']}}" alt="">
                </div>
                <div class="info w-100">
                  <div class="d-flex justify-content-between">
                    <div>
                      <h5 class="name" *ngIf="IsEnglish">
                        {{'find-a-doctor.doctors-list.cards.dr' | transloco}}   {{offerDetails['doctorDto']['FullName']}}

                      </h5>
                      <h5 class="name" *ngIf="IsArabic">
                        {{'find-a-doctor.doctors-list.cards.dr' | transloco}}   {{offerDetails['doctorDto']['FullNameAr']}}

                      </h5>

                      <p class="job">
                        {{offerDetails['doctorDto']['SpecialistName']}}
                       </p>
                    </div>

                  </div>


                  <div class="tags">
                    <h6>
                      <span class="mr-3">
                         {{'doctor-profile.specialized-in' | transloco}} :
                      </span>
                      <b  class="text-primary">
                        {{offerDetails['doctorDto']['SpecialistName']}}
                        <span>({{offerDetails['doctorDto']['SeniorityLevelName']}})</span>
                      </b>
                    </h6>
                   </div>


                </div>
              </div>
            </div>
        </div>

        <div class="card clinic mt-5" >
          <div class="card-body">
            <h4 class="title">
              {{'doctor-profile.doctor-clinics' | transloco}}
            </h4>

            <div   class="clinic-container"  >
              <div class="clinic-data d-flex">
                <div class="image">
                  <img ngSrc="{{storageUrl}}{{offerDetails['HealthEntityDTO']['Logo']}}"

                  width="65" height="65" priority  alt="clinic logo" class="rounded-circle"
                  (error)="onClinicImgError($event,offerDetails['HealthEntityDTO']['Name'])"
                  >
                </div>
                <div class="">
                  <h5>
                    {{offerDetails['HealthEntityDTO']['Name']}}
                  </h5>
                  <p>
                    {{'doctor-profile.you-can-book-now-at' | transloco}}
                    {{offerDetails['HealthEntityDTO']['Name']}}
                  </p>
                </div>
              </div>
              <div class="rows">
                <div class="row">
                  <div class="col-6">
                    <img src="assets/icons/Address.svg" alt="">
                    <span>
                      <!-- Address -->
                      {{'doctor-profile.address' | transloco}}
                    </span>
                  </div>
                  <div class="col-6 answer">
                    <span>
                      {{offerDetails['HealthEntityDTO']['AreaName']}}
                    </span>
                  </div>

                </div>

                <div class="row">
                  <div class="col-6">
                    <img src="assets/icons/Fees.svg" alt="">
                    <span>
                      <!-- Fees -->
                      {{'doctor-profile.fees' | transloco}}
                    </span>
                  </div>
                  <div class="col-6 answer">
                    <span>
                      {{offerDetails['PriceAfter']}}
                      LE</span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <img src="assets/icons/Fees.svg" alt="">
                    <span>
                      <!-- Fees -->
                      {{'doctor-profile.service' | transloco}}
                    </span>
                  </div>
                  <div class="col-6 answer">
                    <span>
                      {{offerDetails['HealthEntityDTO']['Services']}}
                      </span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>




      </div>
      <div class="col-lg-5 " #book>
        <app-bookofferform [doctor]="offerDetails"></app-bookofferform>
      </div>
    </div>
  </div>
</section>

