<section class="auth layout_1 new-password">
  <div class="container">
    <header>
      <h1>
        {{ 'authentication.new-password.title' | transloco }}
           </h1>

    </header>
    <form [formGroup]="form" (ngSubmit)="submit()">

      <div class="mb-3 password-area">
        <label for="password" class="form-label">
          {{ 'form.input.password.label' | transloco }}
        </label>
        <input formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" minlength="6"

        type= "{{hidePassword ? 'password' : 'text'}}"

        class="form-control" id="password">


        <div class="visibility">
          <div class="show">
            <i class="material-icons" (click)="showHidePassword()" *ngIf="hidePassword">visibility</i>
          </div>
          <div class="hide">
            <i class="material-icons active" (click)="showHidePassword()" *ngIf="!hidePassword">visibility_off</i>
          </div>

        </div>
      </div>
      <div *ngIf="submitted && f['password'].errors" class="errors-area mt-2" >
        <p class="text-danger"  *ngIf="f['password']['errors']['required']">
          {{ 'form.input.password.validation.required' | transloco }}
        </p>
      </div>
            <div *ngIf="submitted && f['password'].errors" class="errors-area mt-2" >
        <p class="text-danger"  *ngIf="f['password']['errors']['minlength']">
          {{ 'form.input.password.validation.minlength' | transloco }}
        </p>
      </div>
      <!-- Confirm Password -->
      <div class="mb-3 password-area">
        <label for="confirmPassword" class="form-label">
          {{ 'form.input.confirm-password.label' | transloco }}
        </label>
        <input formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"

        type= "{{hidePassword ? 'password' : 'text'}}"

        class="form-control" id="confirmPassword">

        <div class="visibility">
          <div class="show">
            <i class="material-icons" (click)="showHidePassword()" *ngIf="hidePassword">visibility</i>
          </div>
          <div class="hide">
            <i class="material-icons active" (click)="showHidePassword()" *ngIf="!hidePassword">visibility_off</i>
          </div>

        </div>
      </div>
      <div *ngIf="submitted && f['confirmPassword'].errors" class="errors-area mt-2" >
        <p class="text-danger"  *ngIf="f['confirmPassword']['errors']['required']">
          {{ 'form.input.confirm-password.validation.required' | transloco }}
        </p>
      </div>

      <button type="submit" class="btn btn-primary btn-lg">
        {{ 'form.buttons.save' | transloco }}
      </button>

    </form>
  </div>
</section>
