<section class="booking-successfully">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <br>
        <h3 class="text-center animate__animated  animate__flash">
          <img src="assets/icons/Tick Square.svg" alt="">
          {{'booking-successfully.title' | transloco}}
        </h3>
        <div class="text-center wallpaper">
          <img src="assets/background/booking-successfully.png">
        </div>

        <div class="items">
          <!-- <div class="row">
            <div class="col-auto">
              <img src="assets/icons/notified.svg" alt="">
            </div>
            <div *ngIf="IsEnglish" class="col" transloco="booking-successfully.notified" [translocoParams]="{ doctorName: booking['doctor']['FirstName'] + ' ' +  booking['doctor']['LastName'] }">

            </div>
            <div *ngIf="IsArabic" class="col" transloco="booking-successfully.notified" [translocoParams]="{ doctorName: booking['doctor']['FirstNameAr'] + ' ' +  booking['doctor']['LastNameAr'] }">

            </div>
          </div> -->
          <!-- <div class="row">
            <div class="col-auto">
              <img src="assets/icons/Fees.svg" alt="">
            </div>
            <div class="col">
              {{'booking-successfully.examination-fees' | transloco}}
              {{booking['clinic']['FixedFee']}}  LE
            </div>
          </div> -->
          <!-- <div class="row">
            <div class="col-auto">
              <img src="assets/icons/Phone.svg" alt="">
            </div>
            <div class="col">
              {{'booking-successfully.clinic-number' | transloco}}
              <a
              href="tel:{{booking['clinic']['Phone']}}"
               class="text-primary">
                {{booking['clinic']['Phone']}}
              </a>
            </div>
          </div> -->
          <div class="row">
            <div class="col-auto">
              <img src="assets/icons/calendar.svg" alt="">
            </div>
            <div class="col">
              {{'booking-successfully.booking-details.title' | transloco}}
            </div>
          </div>
          <div class="row mt-4 reservation-details">
            <div class="col-auto">
              <img src="assets/icons/calendar.svg" style="opacity: 0;">
            </div>
            <div class="col">
              <div>
                <div class="row">
                  <div class="col-6 title text-secondary-dark">
                    {{'booking-successfully.booking-details.patient-name' | transloco}}
                  </div>
                  <div class="col-6 text-end answer text-dark" *ngIf="IsEnglish">
                    {{username}}
                  </div>
                  <div class="col-6 text-end answer text-dark" *ngIf="IsArabic">
                    {{username}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 title text-secondary-dark">
                    {{'booking-successfully.clinic-number' | transloco}}
                  </div>
                  <div class="col-6 text-end answer text-dark">
                    {{booking['clinic']['Phone']}}
                  </div>
                </div>

                <div class="row">
                  <div class="col-6 title text-secondary-dark">
                    {{'booking-successfully.examination-fees' | transloco}}
                  </div>
                  <div class="col-6 text-end answer text-dark" *ngIf="IsEnglish">
                    {{this.fees }}  LE
                  </div>
                  <div class="col-6 text-end answer text-dark" *ngIf="IsArabic">
                    {{this.fees}}  جنيه
                  </div>
                </div>

                <div class="row">
                  <div class="col-6 title text-secondary-dark">
                    {{'booking-successfully.booking-details.service' | transloco}}
                  </div>
                  <div class="col-6 text-end answer text-dark">
                    {{booking['appointment']['Name']}}                  </div>
                </div>
                <div class="row">
                  <div class="col-6 title text-secondary-dark">
                    {{'booking-successfully.booking-details.booking-date' | transloco}}
                  </div>
                  <div class="col-6 text-end answer text-dark">
                    {{returnWeekDay(booking['day'])}} /{{convertTime24to12(booking['time'])}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 title text-secondary-dark">
                    {{'booking-successfully.booking-details.doctor-name' | transloco}}
                  </div>
                  <div class="col-6 text-end answer text-dark" *ngIf="IsEnglish">
                    {{booking['doctor']['FirstName']}}
                    {{booking['doctor']['MiddelName']}}
                    {{booking['doctor']['LastName']}}
                  </div>
                  <div class="col-6 text-end answer text-dark" *ngIf="IsArabic">
                    {{booking['doctor']['FirstNameAr']}}
                    {{booking['doctor']['MiddelNameAr']}}
                    {{booking['doctor']['LastNameAr']}}
                  </div>
                </div>
                <!-- <div class="row">
                  <div class="col-6 title text-secondary-dark">
                    {{'booking-successfully.booking-details.waiting-time' | transloco}}
                  </div>
                  <div class="col-6 text-end answer text-dark">
                    0 Minutes
                  </div>
                </div> -->
                <div class="row">
                  <div class="col-6 title text-secondary-dark">
                    {{'booking-successfully.booking-details.clinic-address' | transloco}}
                  </div>

                  <div class="col-6 text-end answer text-dark">
                    {{this.area}} <br>
                    {{this.address}}
                  </div>
                </div>
              </div>
              <div class="actions">
                <div class="row">
                  <!-- <div class="col">
                    <button (click)="addNote()" class="btn btn-outline-info" >
                      {{'booking-successfully.booking-details.add-additional-files' | transloco}}
                    </button>
                  </div> -->
                  <div class="col">
                    <button class="btn btn-info text-white"
                      [routerLink]="['/patient/my-schedule']" [queryParams]="{id: booking['id']}"
                    >
                      {{'booking-successfully.booking-details.my-appointments' | transloco}}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</section>
