
<section *ngIf="!doctor">
  <div class="container">
    <div class="row pt-4">
      <div class="col-lg-7">
        <div class="ph-item" *ngFor="let item of [].constructor(2)">
          <div class="ph-col-12">
              <div class="ph-picture"></div>
              <div class="ph-row">
                  <div class="ph-col-6 big"></div>
                  <div class="ph-col-4 empty big"></div>
                  <div class="ph-col-2 big"></div>
                  <div class="ph-col-4"></div>
                  <div class="ph-col-8 empty"></div>
                  <div class="ph-col-6"></div>
                  <div class="ph-col-6 empty"></div>
                  <div class="ph-col-12"></div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="ph-item ">
          <div class="ph-col-12">
              <div class="ph-picture"></div>
              <div class="ph-row">
                  <div class="ph-col-6 big"></div>
                  <div class="ph-col-4 empty big"></div>
                  <div class="ph-col-2 big"></div>
                  <div class="ph-col-4"></div>
                  <div class="ph-col-8 empty"></div>
                  <div class="ph-col-6"></div>
                  <div class="ph-col-6 empty"></div>
                  <div class="ph-col-12"></div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section *ngIf="doctor">
  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">
          <!-- Home -->
          {{'app-name' | transloco}}
        </a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)" *ngIf="IsEnglish">
          <!-- Dr. -->
            {{'find-a-doctor.doctors-list.cards.dr' | transloco}}
            {{doctor['FirstName']}} {{doctor['MiddelName']}} {{doctor['LastName']}}
        </a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)" *ngIf="IsArabic">
          <!-- Dr. -->
            {{'find-a-doctor.doctors-list.cards.dr' | transloco}}
            {{doctor['FirstNameAr']}} {{doctor['MiddelNameAr']}} {{doctor['LastNameAr']}}
        </a></li>
      </ol>
    </nav>
    <div class="row">
      <div class="col-lg-7">
        <div class="card info">
            <div class="card-body">
              <div class="user">
                <div class="image">
                  <img src="{{storageUrl}}/{{doctor['Image']}}" alt="">
                </div>
                <div class="info w-100">
                  <div class="d-flex justify-content-between">
                    <div>
                      <h5 class="name" *ngIf="IsEnglish">
                        {{'find-a-doctor.doctors-list.cards.dr' | transloco}}   {{doctor['FirstName']}}
                        {{doctor['MiddelName']}} {{doctor['LastName']}}
                      </h5>
                      <h5 class="name" *ngIf="IsArabic">
                        {{'find-a-doctor.doctors-list.cards.dr' | transloco}}   {{doctor['FirstNameAr']}}
                        {{doctor['MiddelNameAr']}} {{doctor['LastNameAr']}}
                      </h5>

                      <p class="job">
                        {{doctor['SpecialistName']}}
                        <!-- Dental Implants and cosmetic dentistry -->
                      </p>
                    </div>
                    <!-- <div>
                      <p class="m-0 views text-primary">
                        <b>
                          0
                           {{'doctor-profile.views' | transloco}}
                        </b>
                      </p>
                    </div> -->
                  </div>

                  <div class="tags">
                    <h6>
                      <span class="mr-3">
                        <!-- Specialized in: -->
                        {{'doctor-profile.specialized-in' | transloco}} :
                      </span>
                      <b  class="text-primary">
                        {{doctor['SpecialistName']}}
                        <span>({{doctor['SeniorityLevelName']}})</span>
                      </b>
                    </h6>
                    <div>
                      <span *ngFor="let subSpecial of doctor['SubSpecialistName']" class="badge badge-pill badge-info">
                        {{subSpecial}}
                      </span>
                    </div>
                  </div>

                  <div class="book-now d-block d-lg-none mt-5">
                    <a href="javascript:void(0)" (click)="scrollToElement(book)" class="btn btn-primary btn-lg w-100 p-3 text-white">
                      {{'doctor-profile.book-now' | transloco}}
                    </a>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="card about mt-5"  >
          <div class="card-body">
            <h4>
              {{'doctor-profile.about-doctor' | transloco}}
            </h4>
            <p>
                  {{doctor['DoctorInfo']}}
            </p>
          </div>
        </div>
        <div class="card about mt-5">
          <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 20px;">
            <div style="margin-bottom: 10px;">
                <h5 style="margin: 0;"> {{ 'doctor-profile.Doctor-video' | transloco }}</h5>
            </div>

            <!-- Flex container for videos -->
            <div style="display: flex; flex-wrap: wrap; justify-content: space-between;" *ngIf="videos && videos.length > 0">
                <!-- Loop through clinic.Videos to display videos -->
                <div style="width: calc(25% - 10px); margin-bottom: 20px;" *ngFor="let video of videos">
                    <!-- YouTube video card -->
                    <div style="width: 100%;">
                        <!-- Use iframe to embed YouTube video -->
                        <iframe [src]="sanitizeUrll('https://www.youtube.com/embed/' + extractYouTubeVideoID(video.VideoURL))" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="no-data" *ngIf="!videos|| videos.length === 0">
              <div class="card text-center" >
                <div class="card-body">
                  <img src="assets/icons/no-data.svg">
                  <h6 class="mt-3">
                      <!-- there is no images to show ! -->
                      {{'doctor-profile.there-is-no-doctorVideo-to-show' | transloco}}
                  </h6>
                  <!-- <a (click)="fileInput.click()" href="javascript:void(0)" class="text-decoration-none">
                     {{'clinic.gallery.addphoto' | transloco}}
                  </a> -->
                </div>
              </div>
            </div>
        </div>
        </div>
        <div class="card clinic mt-5" >
          <div class="card-body">
            <h4 class="title">
              {{'doctor-profile.doctor-clinics' | transloco}}
            </h4>

            <div *ngFor="let clinic of doctor['clinicDtos'];let first = first" class="clinic-container" [ngClass]="{'isFirst': first}">
              <div class="clinic-data d-flex">
                <div class="image">
                  <img ngSrc="{{storageUrl}}{{clinic.Logo}}"

                  width="65" height="65" priority  alt="clinic logo" class="rounded-circle"
                  (error)="onClinicImgError($event,clinic['Name'])"
                  >
                </div>
                <div class="">
                  <h5>
                    {{clinic['Name']}}
                  </h5>
                  <p>
                    {{'doctor-profile.you-can-book-now-at' | transloco}}
                    {{clinic['Name']}}
                  </p>
                </div>
              </div>
              <div class="rows">
                <div class="row">
                  <div class="col-6">
                    <img src="assets/icons/Address.svg" alt="">
                    <span>
                      <!-- Address -->
                      {{'doctor-profile.address' | transloco}}
                    </span>
                  </div>
                  <div class="col-6 answer">
                    <span>
                      {{clinic['AreaName']}} ({{clinic['SubAreaName']}})
                    </span>
                  </div>

                </div>

                <!-- <div class="row">
                  <div class="col-6">
                    <img src="assets/icons/Fees.svg" alt="">
                    <span>
                       {{'doctor-profile.fees' | transloco}}
                    </span>
                  </div>
                  <div class="col-6 answer">
                    <span>
                      {{clinic['FixedFee']||doctorFees}}
                      LE</span>
                  </div>
                </div> -->

                <div class="row">
                  <div class="col-6">
                    <img src="assets/icons/Fees.svg" alt="">
                    <span>
                      <!-- Fees -->
                      {{'doctor-profile.service' | transloco}}
                    </span>
                  </div>
                  <div class="col-6 answer">
                    <span>
                      {{clinic['Services']}}
                      </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <img src="assets/icons/Fees.svg" alt="">
                    <span>
                      <!-- Fees -->
                      {{'doctor-profile.features' | transloco}}
                    </span>
                  </div>
                  <div class="col-6 answer">
                    <span>
                      {{clinic['Features']}}
                      </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <img src="assets/icons/Fees.svg" alt="">
                    <span>
                      <!-- Fees -->
                      {{'doctor-profile.ins' | transloco}}
                    </span>
                  </div>
                  <div class="col-6 answer">
                    <span>
                      {{clinic['Insurance']}}
                      </span>
                  </div>
                </div>
                <div class="clinic-card">
                  <div class="clinic-card-body">
                    <!-- عرض اسم العيادة -->
                    <h5 class="clinic-card-title"> {{'doctor-profile.Gallary' | transloco}}
                    </h5>

                    <!-- عرض الصور المتعلقة بالعيادة -->
                    <div class="clinic-images" *ngIf="clinic.Gallary && clinic.Gallary.length > 0">
                      <img *ngFor="let image of clinic.Gallary" [src]="storageUrl + '/' + image" alt="Clinic Image">
                    </div>
                    <div class="no-data" *ngIf="!clinic.Gallary || clinic.Gallary.length === 0">
                      <div class="card text-center" >
                        <div class="card-body">
                          <img src="assets/icons/no-data.svg">
                          <h6 class="mt-3">
                              <!-- there is no images to show ! -->
                              {{'doctor-profile.there-is-no-images-to-show' | transloco}}
                          </h6>
                          <!-- <a (click)="fileInput.click()" href="javascript:void(0)" class="text-decoration-none">
                             {{'clinic.gallery.addphoto' | transloco}}
                          </a> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 20px;">
                  <div style="margin-bottom: 10px;">
                      <h5 style="margin: 0;"> {{ 'doctor-profile.video' | transloco }}</h5>
                  </div>

                  <!-- Flex container for videos -->
                  <div style="display: flex; flex-wrap: wrap; justify-content: space-between;" *ngIf="clinic.Videos && clinic.Videos.length > 0">
                      <!-- Loop through clinic.Videos to display videos -->
                      <div style="width: calc(25% - 10px); margin-bottom: 20px;" *ngFor="let video of clinic.Videos">
                          <!-- YouTube video card -->
                          <div style="width: 100%;">
                              <!-- Use iframe to embed YouTube video -->
                              <iframe [src]="sanitizeUrl(video)" frameborder="0" allowfullscreen style="width: 100%;"></iframe>
                          </div>
                      </div>
                  </div>
                  <div class="no-data" *ngIf="!clinic.Videos || clinic.Videos.length === 0">
                    <div class="card text-center" >
                      <div class="card-body">
                        <img src="assets/icons/no-data.svg">
                        <h6 class="mt-3">
                            <!-- there is no images to show ! -->
                            {{'doctor-profile.there-is-no-videos-to-show' | transloco}}
                        </h6>
                        <!-- <a (click)="fileInput.click()" href="javascript:void(0)" class="text-decoration-none">
                           {{'clinic.gallery.addphoto' | transloco}}
                        </a> -->
                      </div>
                    </div>
                  </div>
              </div>


              </div>

              <!-- <div class="photos" *ngIf="clinic.images[0]?.length != 0">
                <h5>
                  {{'doctor-profile.photos-of-clinic' | transloco}}
                </h5>
                <div>
                  <div class="row mt-3" ngxViewer>
                    <div class="col-lg-3 mb-4 " *ngFor="let image of clinic.images[0]">
                      <div class="image">
                        <img src="{{storageUrl}}/{{image.ImageUrl}}" class="w-100">
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>



        <div class="card reviews mt-5"

        >
          <div class="card-body">
            <h5>
              {{'doctor-profile.reviews' | transloco}}
            </h5>
            <div class="review" *ngFor="let item of reviews">
              <div class="user">
                <!-- <div class="image">
                  <img src="{{storageUrl}}/{{item['PatientImage']}}" width="50" height="50" class="rounded-circle">
                </div> -->
                <div class="info w-100">
                  <div class="row ">
                    <div class="col">
                      <h5 class="name">
                         {{item['PatientName']}}
                      </h5>

                      <div class="rate">
                        <img src="assets/icons/star.svg" *ngFor="let item of [].constructor(item['Rate'])">
                        <img src="assets/icons/un-star.svg" *ngFor="let item of [].constructor(5 - item['Rate'])">
                      </div>
                    </div>
                    <div class="col text-end">
                      <span class="time">
                        {{AvalibleDate}}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="review-body">
                <p>
                  {{item['Comment']}}
                </p>
              </div>
            </div>
            <div class="no-data" *ngIf="!reviews || reviews.length === 0">
                    <div class="card text-center" >
                      <div class="card-body">
                        <img src="assets/icons/no-data.svg">
                        <h6 class="mt-3">
                            <!-- there is no images to show ! -->
                            {{'doctor-profile.there-is-no-review-to-show' | transloco}}
                        </h6>
                        <!-- <a (click)="fileInput.click()" href="javascript:void(0)" class="text-decoration-none">
                           {{'clinic.gallery.addphoto' | transloco}}
                        </a> -->
                      </div>
                    </div>
                  </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 " #book>
        <app-book-form [doctor]="doctor" ></app-book-form>
      </div>
    </div>
  </div>
</section>
