<section class="list main-card-app">
  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">
          <!-- Salamtak -->
          {{ 'app-name' | transloco }}
        </a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">
          <!-- find-a-doctor -->
          <!-- Dentist in Egypt -->
          {{ 'find-a-doctor.breadcrumb.find-a-doctor' | transloco }}
        </a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">
          {{ 'find-a-doctor.breadcrumb.dentist-in-egypt' | transloco }}
        </a></li>
        <!-- <li class="breadcrumb-item active" aria-current="page">Alexandria</li> -->
      </ol>
    </nav>
<div class="cards" >
  <!-- no-results -->
  <div class="no-results-container" *ngIf="!loading && doctors.length == []">
    <div class="no-results-card">
      <div class="no-results-card-body">
        <img src="assets/icons/no-results.svg" alt="no-results" class="no-results-image">
        <h5 class="no-results-title">
          {{ 'find-a-doctor.doctors-list.no-results.title' | transloco }}
        </h5>
        <p class="no-results-description">
          {{ 'find-a-doctor.doctors-list.no-results.description' | transloco }}
        </p>
      </div>
    </div>
  </div>



  <div class="row" *ngIf="doctors.length != 0">
    <div class="col-lg-6 mb-4" *ngFor="let doctor of doctors">
      <div class="card"   [routerLink]="['/patient/doctor-profile',doctor['DoctorId']]"
      [queryParams]="{ClinicId:doctor['ClinicId'],AvalibleDate:doctor['AvalibleDate']}">
        <div class="card-body">
          <div class="user">
            <div class="image">
                <img ngxViewer [viewerOptions]="doctorViewerOptions" src="{{storageUrl}}/{{doctor.Image}}" alt="">
                <!-- <img src="assets/fake-images-for-test/Ellipse 4824.png" alt=""> -->
            </div>
            <div class="info">
              <h5 class="name">
                <!-- Dr. -->
                {{ 'find-a-doctor.doctors-list.cards.dr' | transloco }}
                 {{doctor.FullName }}
               </h5>
              <p class="job">
                {{doctor.SpecialistName}}
                <span>({{doctor.SeniorityLevelName}})</span>
               </p>
              <div class="rate">
                <img src="assets/icons/Star2.svg" >
                <img src="assets/icons/Star2.svg" >
                <img src="assets/icons/Star2.svg" >
                <img src="assets/icons/Star2.svg" >
                <img src="assets/icons/Star2.svg" >

               </div>
            </div>
          </div>
          <div class="work-data">
            <div class="row">
              <div class="col-6">
                <img src="assets/icons/Sub-specialization.svg" alt="">
                <span>
                  <!-- Sub-specialization -->
                  {{ 'find-a-doctor.doctors-list.cards.sub-specialization' | transloco }}
                </span>
              </div>
              <div class="col-6 answer">
                <p>
                  <span *ngFor="let subspecialist of doctor.SubSpecialistName ;let last = last" title="{{subspecialist}}"  style="white-space: pre-wrap;">
                    {{subspecialist}}
                    {{last ? '' : ', '}}
                  </span>
                </p>
              </div>
            </div>

            <!-- <div class="row">
              <div class="col-6">
                <img src="assets/icons/Address.svg" alt="">
                <span>
                   {{ 'find-a-doctor.doctors-list.cards.address' | transloco }}
                </span>
              </div>

            </div> -->
                                        <!-- Waiting Time -->

            <!-- <div class="row">
              <div class="col-6">
                <img src="assets/icons/Waiting-Time.svg" alt="">
                <span>
                  {{ 'find-a-doctor.doctors-list.cards.waiting-time' | transloco }}
                </span>
              </div>
              <div class="col-6 answer">
                <span>
                  {{doctor.WaitingTime}} Min.
                </span>
              </div>
            </div> -->
            <div class="row">
              <div class="col-6">
                <img src="assets/icons/Fees.svg" alt="">
                <span>
                  <!-- Fees -->
                  {{ 'find-a-doctor.doctors-list.cards.fees' | transloco }}
                </span>
              </div>
              <div class="col-6 answer">
                <span>
                  {{doctor.Fees }} LE
                  <!-- - {{doctor.FeesTo}} LE -->
                  <!-- 200 LE -->
                </span>
              </div>
            </div>

          </div>
          <div>

            <button (click)="bookFor($event,doctor)" class="btn book btn-primary w-100">
              <!-- Book Now -->
              {{ 'find-a-doctor.doctors-list.cards.book-now' | transloco }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

   <div class="row" *ngIf="loading && doctors.length == 0">
    <div class="col-lg-6 mb-4" *ngFor="let item of [].constructor(6)">
      <div class="ph-item">
        <div class="ph-col-12">
            <div class="ph-picture"></div>
            <div class="ph-row">
                <div class="ph-col-6 big"></div>
                <div class="ph-col-4 empty big"></div>
                <div class="ph-col-2 big"></div>
                <div class="ph-col-4"></div>
                <div class="ph-col-8 empty"></div>
                <div class="ph-col-6"></div>
                <div class="ph-col-6 empty"></div>
                <div class="ph-col-12"></div>
            </div>
        </div>
    </div>
    </div>
  </div>

</div>
</div>

 </section>
