<section class="auth layout_1 forgot-password" >
  <div class="container">
    <header>
      <h1>
        {{ 'authentication.forgot-password.title' | transloco }}
      </h1>
      <p>
        {{ 'authentication.forgot-password.description' | transloco }}
      </p>
    </header>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="mb-3 mt-5">
        <input formControlName="email_or_phone" [ngClass]="{ 'is-invalid': submitted && f['email_or_phone'].errors }" type="text" class="form-control" id="email_or_phone"
        placeholder="{{ 'form.input.email_or_phone.placeholder' | transloco }}"
        >
      </div>
      <div *ngIf="submitted && f['email_or_phone'].errors" class="errors-area mt-2" >
        <p class="text-danger"  *ngIf="f['email_or_phone']['errors']['required']">
          {{ 'form.input.email_or_phone.validation.required' | transloco }}
        </p>
     </div>

     <br>
      <button type="submit" class="btn btn-primary btn-lg">
        {{ 'form.buttons.send' | transloco }}
      </button>
    </form>
  </div>
</section>
