section{
  background-color: #F3F3FF;
  padding: 50px 0 !important;

  .card{
    background: #fff;
    border-radius: 6px;
    border: none;
    .card-body{
      width: 70%;
      // in mobile
      @media (max-width: 767px){
        width: 100%;
      }
      margin: 0 auto;
      h3{
        font-weight: 600;
        font-size: 20px;
        color: #00000099;
        margin-bottom: 20px;
        position: relative;
        top: 5px;
      }
      .wallpaper{
        img{
          width: 80%;

        }
      }
      .items{
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #767676;
        .row{
          margin-bottom: 20px;
          align-items: center;
          img{
            margin-right: 10px;
            width: 30px;

          }
        }
        .reservation-details{
            .row{
              padding: 15px 0;
              // not last row
              &:not(:last-child){
                border-bottom: 1px solid #e0e0e0;
              }
            }
            .actions{
              text-align: center;
              button{
                padding: 18px 30px;
                margin: 5px;
                border-radius: 4px;
                width: 100%;

              }
            }
        }

      }

    }

  }
}
