<section class="blogs">
  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">
          {{'app-name' | transloco}}
        </a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">
          {{'blogs.salamtakOffer' | transloco}}
        </a></li>
      </ol>
    </nav>
    <div class="offer-container">
      <div class="offer-card" *ngFor="let offer of offers">
        <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true" class="spinner"></ngx-spinner>
        <div class="image-container">
          <img src="{{storageUrl}}{{offer.L1image}}" alt="Offer Image" class="offer-image">
          <p class="offer-discount">{{ offer.DiscountPerc }}% {{'doctor-profile.book-form.off' | transloco}}</p>
        </div>
        <div class="offer-details">
          <h2>{{ offer.ServiceName }}</h2>
          <div class="doctor-info">
            <img src="{{storageUrl}}{{offer.doctorDto.Image}}" alt="Doctor Image" class="doctor-image">
            <p class="doctor-name" *ngIf="lang=='en'">{{ offer.doctorDto.FullName }}</p>
            <p class="doctor-name" *ngIf="lang=='ar'">{{ offer.doctorDto.FullNameAr }}</p>
          </div>
          <p class="price-before"> <del>{{ offer.PriceBefore}}</del></p>
          <p class="price-after"><strong>{{'doctor-profile.book-form.price-Afer' | transloco}}:</strong> {{ offer.PriceAfter }}</p>
          <p><strong>{{'doctor-profile.book-form.Start-Date' | transloco}}:</strong> {{ offer.StartDate | date }}</p>
          <p><strong>{{'doctor-profile.book-form.End-Date' | transloco}}:</strong> {{ offer.EndDate | date }}</p>
          <button class="btn-book-now" (click)="onBookNow(offer.Id)"> {{ 'find-a-doctor.doctors-list.cards.book-now' | transloco }}</button>
        </div>
      </div>
    </div>
    <div class="no-results" *ngIf="offers.length == 0">
      <div class="custom-no-results">
        <img src="assets/icons/no-results.svg" alt="no-results">
        <div class="text-content">
          <h5>{{ 'find-a-doctor.doctors-list.no-results.no-current' | transloco }}</h5>
          <p>{{ 'find-a-doctor.doctors-list.no-results.details-noCuurent' | transloco }} <br>
            <span>{{ 'find-a-doctor.doctors-list.no-results.detail-curr' | transloco }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
