// import variables
@import 'src/assets/styles/variables.scss';

#authentication-layout{
  &>.row{
    height: 100vh;
    margin: 0;
    .info-article{
      background-color: $primary;
      position: relative;
      overflow: hidden;
      padding: 40px;
      object.shape{
        position: absolute;
        &.shape-top{
          top: 0;
          left: 0;
        }
        &.shape-bottom{
          bottom: 0;
          right: 0;
          display: none;
        }
      }
      .animated-shape-bottom{
        position: absolute;
        bottom: -260px;
        right: -130px;
        width: 300px;
        height: 400px;
        border-radius: 160px;
        border: 6px solid $info;
        animation: circle 30s linear infinite;
        @keyframes circle{
          0%{
            transform: rotate(0deg);
          }
          100%{
            transform: rotate(360deg);
          }
        }
      }
      .change-language{
        a{
          color: $white;
          font-size: 16px;
          font-weight: 400;
          cursor: pointer;
          position: relative;
          top: 1.3px;
          text-decoration: none;

        }

      }
      .logo-container{
        margin: 80px 0px 120px 0;
      }
      .reviews{
        margin-bottom: 15px;
        .stars{
          display: flex;
          img{
            width: 22px;
            margin-right: 5px;
          }
        }
        .review-text{
          color: $white;
          font-size: 19px;
          font-weight: 300;
          margin-top: 20px;
        }
        .reviewer{
          display: flex;
          align-items: center;
          margin-top: 20px;
          img{
            width: 45px;
            height: 45px;
            margin-right: 10px;
            border-radius: 50%;
          }
          p{
            margin: 0;
            color: $white;
            &.reviewer-name{
              font-weight: 500;
            }
            &.reviewer-job{
              color: $gray;
              font-size: 14px;
            }
          }
        }
      }
      // remove this in mobile
      @media (max-width: 772px){
        // display: none;
        .reviews{
          display: none;
        }
        .logo-container{
          margin: 80px 0px 20px 0;
          position: relative;
          z-index: 99;
        }
      }
    }
    .content{
      background: #FAFAFA;
      position: relative;
      .help{
        position: fixed;
        top: 25px;
        right: 15px;
        width: fit-content;
        background-color: #FAFAFA;
        z-index: 999;
        padding: 5px 10px;
        border-radius: 5px;
        a{
          text-decoration: none;
          font-weight: 600;
          float: right;
          cursor: help;

        }
        img{
          width: 20px;
          margin-right: 3px;
        }
      }
      .layout_1{
        width: 60% ;
        margin: 120px auto;

        @media (max-width: 991px){
          width: 100%;
          margin: 120px 0;
        }
      }
      .layout_2{
        width: 80% ;
        margin: 120px auto;

        @media (max-width: 991px){
          width: 100%;
          margin: 120px 0;
        }
      }
    }
  }
}
img.flag{
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
