
<section id="authentication-layout">
    <div class="row w-100">
      <div class="col-md-6 col-lg-4 col-xl-3 info-article">
        <object class="shape shape-top" type="image/svg+xml" data="assets/shapes/auth-article-shape-top.svg"></object>
        <article>
          <div class="change-language">
            <a href="javascript:void(0)" mat-icon-button [matMenuTriggerFor]="menu" aria-label="change-language">
              <img src="assets/icons/language.svg">
              <!-- {{getLanguageName()}} -->
              {{selectedLanguage.name}}
            </a>
            <mat-menu #menu="matMenu" class="change-language">
              <button *ngFor="let language of languages" mat-menu-item (click)="setLanguage(language)">
                <img class="flag" src="{{language.flag}}">
                <span>&nbsp; {{language.name}}</span>
              </button>
            </mat-menu>
          </div>
          <div class="logo-container">
            <a href="javascript:void(0)" [routerLink]="['/patient/home']" aria-label="logo-container">
              <img class="w-100" src="assets/Salamtak.png" alt="logo">
            </a>
          </div>
          <div *ngIf="IsArabic" class="reviews" dir="ltr"  >
            <owl-carousel-o [options]="reviewsOwlOptions">
                <ng-template carouselSlide *ngFor="let item of [].constructor(5)">
                  <!-- <div class="stars">
                    <img src="assets/icons/star.svg" *ngFor="let item of [].constructor(5)">
                  </div> -->
                  <p class="review-text" >
                     <br>
                    {{ 'authentication.authentication-layout.out' | transloco }} <br>
                    {{ 'authentication.authentication-layout.las' | transloco }} <br><br><br><br>
                 <span style="text-align: center;">{{ 'authentication.authentication-layout.lay' | transloco }}</span>
                   </p>

                  <!-- <div class="reviewer">
                    <img src="assets/fake-images-for-test/user.png">
                    <div class="reviewer-info">
                      <p class="reviewer-name">Devon Lane</p>
                      <p class="reviewer-job">Co-Founder</p>
                    </div>
                  </div> -->
                </ng-template>
            </owl-carousel-o>
          </div>
        </article>

        <span class="animated-shape-bottom"></span>
      </div>
      <div class="col-md-6 col-lg-8 col-xl-9 content">
        <div class="help">
          <a (click)="help()" href="javascript:void(0)" mat-icon-button aria-label="help">
            <img src="assets/icons/auth-help.svg">
            {{ 'authentication.authentication-layout.help' | transloco }}
          </a>
        </div>
        <div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
</section>
