section.change-password{
  background-color: #F3F3FF;
  padding: 50px 0  100px 0;
  min-height: 100vh;
  .card{

    border: none;
    width: 70%;
    margin: 0 auto;
    // in mobile
    @media (max-width: 767px){
      width: 100%;
    }
    h2{
      font-weight: 600 ;
      margin: 30px 0;
      font-size: 25px;
    }

    label{
      color: #00000099;
    }
    input{
      border-color: #E9EAEF;
      background: #FAFAFA;
    }
    button[type="button"]{
      padding: 18px 60px;
      border-radius: 7px;
      font-size: 15px;
      margin-right: 10px;
    }
    button:disabled{
      background: #AEB3BE;
      color: #fff;
      border-color: #AEB3BE;
    }
  }
}
