<section class="change-password auth">
  <div class="container">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <h2>
              <!-- Change Password  -->
              {{'change-password.title' | transloco }}
            </h2>
          </div>

          <form [formGroup]="form" (ngSubmit)="submit()">
            <!-- oldPassword -->
            <div class="mb-3 password-area">
              <label for="password" class="form-label">
                <!-- Old Password -->
                <!-- form.input -->
                {{'form.input.old-password.label' | transloco }}
              </label>
              <input formControlName="oldPassword" [ngClass]="{ 'is-invalid': submitted && f['oldPassword'].errors }"

              type= "{{hidePassword ? 'password' : 'text'}}"

              class="form-control" id="password">

              <div class="visibility">
                <div class="show">
                  <i class="material-icons" (click)="showHidePassword()" *ngIf="hidePassword">visibility</i>
                </div>
                <div class="hide">
                  <i class="material-icons active" (click)="showHidePassword()" *ngIf="!hidePassword">visibility_off</i>
                </div>

              </div>
            </div>
            <div *ngIf="submitted && f['oldPassword'].errors" class="errors-area mt-2" >
              <p class="text-danger"  *ngIf="f['oldPassword']['errors']['required']">
                {{ 'form.input.old-password.validation.required' | transloco }}
              </p>
            </div>
            <!--  -->

            <div class="mb-3 password-area">
              <label for="password" class="form-label">
                <!-- New Password -->
                {{'form.input.password.labell' | transloco }}
              </label>
              <input formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"

              type= "{{hidePassword ? 'password' : 'text'}}"

              class="form-control" id="password">


              <div class="visibility">
                <div class="show">
                  <i class="material-icons" (click)="showHidePassword()" *ngIf="hidePassword">visibility</i>
                </div>
                <div class="hide">
                  <i class="material-icons active" (click)="showHidePassword()" *ngIf="!hidePassword">visibility_off</i>
                </div>

              </div>
            </div>
            <div *ngIf="submitted && f['password'].errors" class="errors-area mt-2" >
              <p class="text-danger"  *ngIf="f['password']['errors']['required']">
                <!-- Password is required. -->
                {{ 'form.input.password.validation.required' | transloco }}
              </p>
            </div>
            <!-- Confirm Password -->
            <div class="mb-3 password-area">
              <label for="confirmPassword" class="form-label">
                <!-- Confirm Password -->
                {{'form.input.confirm-password.labell' | transloco }}
              </label>
              <input formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"

              type= "{{hidePassword ? 'password' : 'text'}}"

              class="form-control" id="confirmPassword">

              <div class="visibility">
                <div class="show">
                  <i class="material-icons" (click)="showHidePassword()" *ngIf="hidePassword">visibility</i>
                </div>
                <div class="hide">
                  <i class="material-icons active" (click)="showHidePassword()" *ngIf="!hidePassword">visibility_off</i>
                </div>

              </div>
            </div>
            <div *ngIf="submitted && f['confirmPassword'].errors" class="errors-area mt-2" >
              <p class="text-danger"  *ngIf="f['confirmPassword']['errors']['required']">
                <!-- Confirm Password is required. -->
                {{ 'form.input.confirm-password.validation.required' | transloco }}
              </p>
              <p class="text-danger"  *ngIf="f['confirmPassword']['errors']['mustMatch']">
                <!-- Confirm Password must match Password. -->
                {{ 'form.input.confirm-password.validation.notMatch' | transloco }}
              </p>
            </div>
            <!-- Cancel -->

            <div class="text-end">
              <button type="button" class="btn btn-outline-primary btn-lg">
                <!-- Cancel -->
                {{'form.buttons.cancel' | transloco }}
              </button>
              <button type="submit"  [disabled]="form.invalid" class="btn btn-primary btn-lg">
                <!-- Save -->
                {{'form.buttons.save' | transloco }}
              </button>
            </div>

          </form>
          <br>
        </div>
      </div>
  </div>
</section>

