<!--
   "timeout" :{
    "title" : "Timeout has occurred",
    "description" : "please try again later or contact us !",
    "button" : "Retry Now !"
  }
 -->

<!-- <div class="text-center p-5">
  <img src="assets/icons/timeout.png" width="200" alt="">
  <h1 class="mt-3">
    <b>
      {{ 'timeout.title' | transloco }}
    </b>
  </h1>
  <p class="m">
    {{ 'timeout.description' | transloco }}
  </p>

  <button class="btn btn-primary "
  (click)="retry()"
  >
    {{ 'timeout.button' | transloco }}
  </button>

</div> -->
