<form  [formGroup]="form" (ngSubmit)="formSubmit()" class="form">
  <div class="text-center d-block mb-4" *ngIf="form.value?.image">
    <input type="text" hidden formControlName="image">
    <img src="{{form.value.image}}" onerror="this.src='https://ui-avatars.com/api/?name=';" style="width: 50px;height: 50px; margin: 0 auto;">
  </div>

  <div class="row">
   <!--
    "city":{
        "label" : "City",
        "validation" : {
          "required": "City is required"
        }
      },
      "area":{
        "label" : "Area",
        "validation" : {
          "required": "Area is required"
        }
      }
    -->
    <div class="col-lg-6">
      <div class="form-group">
        <label for="CityId">
          <!-- City -->
          {{ 'form.input.city.label' | transloco }}
        </label>
        <div>
          <input type="text" formControlName="CityId" hidden>
          <a mat-button [matMenuTriggerFor]="CityIdmenu"  [ngClass]="{ 'is-invalid': formSubmitted && ff['CityId']['errors'] }" class="w-100 text-start">
            {{form.value.CityId ? form.value.CityId.Name : ('form.input.city.labell' | transloco)}}
            <img src="assets/icons/drop-down.svg" class="icon">
          </a>
        </div>
        <mat-menu #CityIdmenu="matMenu">
          <button mat-menu-item *ngFor="let city of cities" (click)="setCityIdToForm(city)">
            {{city.Name}}
          </button>
        </mat-menu>
      </div>
      <div *ngIf="formSubmitted && ff['CityId']['errors']" class="errors-area "  style="margin-top: 2px !important;">
        <p class="text-danger"  *ngIf="ff['CityId']['errors']['required']">
          <!-- CityId is required. -->
          {{ 'form.input.city.validation.required' | transloco }}
        </p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label for="AreaId">
          <!-- Area -->
          {{ 'form.input.area.label' | transloco }}
        </label>
        <div>
          <input type="text" formControlName="AreaId" hidden>
          <a mat-button [matMenuTriggerFor]="AreaIdmenu"  [ngClass]="{ 'is-invalid': formSubmitted && ff['AreaId']['errors'] }" class="w-100 text-start">
            {{form.value.AreaId ? form.value.AreaId.Name :  ('form.input.area.labell' | transloco)}}
            <img src="assets/icons/drop-down.svg" class="icon">
          </a>
        </div>
        <mat-menu #AreaIdmenu="matMenu">
          <button mat-menu-item *ngFor="let area of areas" (click)="setAreaIdToForm(area)">
            {{area.Name}}
          </button>
        </mat-menu>
      </div>
      <div *ngIf="formSubmitted && ff['AreaId']['errors']" class="errors-area "  style="margin-top: 2px !important;">
        <p class="text-danger"  *ngIf="ff['AreaId']['errors']['required']">
          <!-- AreaId is required. -->
          {{ 'form.input.area.validation.required' | transloco }}
        </p>
      </div>
    </div>




    <!--

      "street":{
        "label" : "Street",
        "validation" : {
          "required": "Street is required"
        }
      },
      "building-number":{
        "label" : "Building Number",
        "validation" : {
          "required": "Building Number is required"
        }
      },
      "floor-number":{
        "label" : "Floor Number",
        "validation" : {
          "required": "Floor Number is required"
        }
      },
      "apartment-number":{
        "label" : "Apartment Number",
        "validation" : {
          "required": "Apartment Number is required"
        }
      }
     -->
    <div class="col-md-6">
      <div class="form-group">
        <label>
          <!-- Street -->
          {{ 'form.input.street.label' | transloco }}
        </label>
        <input type="text" class="form-control" placeholder="{{ 'form.input.street.labell' | transloco }}" formControlName="Address" [ngClass]="{ 'is-invalid': formSubmitted && ff['Address']['errors'] }">
      </div>
      <div *ngIf="formSubmitted && ff['Address']['errors']" class="errors-area mt-2" >
        <p class="text-danger"  *ngIf="ff['Address']['errors']['required']">
          <!-- Street is required. -->
          {{ 'form.input.street.validation.required' | transloco }}
        </p>
        <p class="text-danger"  *ngIf="ff['Address']['errors']['pattern']">
          <!-- Full Name in Arabic is invalid format please check it. -->
          {{ 'form.input.street.validation.pattern' | transloco }}
        </p>
     </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label>
          <!-- Building Number -->
          {{ 'form.input.building-number.label' | transloco }}
        </label>
        <input type="text" class="form-control" placeholder="{{ 'form.input.building-number.labell' | transloco }}" formControlName="BlockNo" [ngClass]="{ 'is-invalid': formSubmitted && ff['BlockNo']['errors'] }">
      </div>
      <div *ngIf="formSubmitted && ff['BlockNo']['errors']" class="errors-area mt-2" >
        <p class="text-danger"  *ngIf="ff['BlockNo']['errors']['required']">
          <!-- Building Number is required. -->
          {{ 'form.input.building-number.validation.required' | transloco }}
        </p>

      </div>
    </div>
    <!-- Floor Number -->
    <div class="col-md-6">
      <div class="form-group">
        <label>
          <!-- Floor Number -->
          {{ 'form.input.floor-number.label' | transloco }}
        </label>
        <input type="text" class="form-control" placeholder="{{ 'form.input.floor-number.labell' | transloco }}" formControlName="FloorNo" [ngClass]="{ 'is-invalid': formSubmitted && ff['FloorNo']['errors'] }">
      </div>
      <div *ngIf="formSubmitted && ff['FloorNo']['errors']" class="errors-area mt-2" >
        <p class="text-danger"  *ngIf="ff['FloorNo']['errors']['required']">
          <!-- Floor Number is required. -->
          {{ 'form.input.floor-number.validation.required' | transloco }}
        </p>
      </div>
    </div>
    <!-- Apartment Number -->
    <div class="col-md-6">
      <div class="form-group">
        <label>
          <!-- Apartment Number -->
          {{ 'form.input.apartment-number.label' | transloco }}
        </label>
        <input type="text" class="form-control" placeholder="{{ 'form.input.apartment-number.labell' | transloco }}" formControlName="ApartmentNo" [ngClass]="{ 'is-invalid': formSubmitted && ff['ApartmentNo']['errors'] }">
      </div>
      <div *ngIf="formSubmitted && ff['ApartmentNo']['errors']" class="errors-area mt-2" >
        <p class="text-danger"  *ngIf="ff['ApartmentNo']['errors']['required']">
          <!-- Apartment Number is required. -->
          {{ 'form.input.apartment-number.validation.required' | transloco }}
        </p>
      </div>
    </div>
  </div>
  <div class="text-end actions">
    <!-- <button class="btn btn-outline-info">
      Cancel
    </button> -->
    <!-- <button class="btn btn-info">
      Save Changes
    </button> -->

    <!-- <button (click)="previousStep()" type="button" class="btn btn-outline-info">
      {{ 'form.buttons.previous' | transloco }}
    </button> -->
    <button class="btn btn-info"

      #saveChanges
    >
      {{ 'form.buttons.next' | transloco }}
    </button>

    <!-- <button (click)="nextStep()" type="button" class="btn btn-primary text-white ">
      {{ 'form.buttons.next' | transloco }}
    </button> -->

  </div>

  <!-- <div [ngSwitch]="patient.OccupationId && patient.CountryId">
    <div *ngSwitchCase="true">output</div>
    <div *ngSwitchDefault>output2</div>
  </div> -->


</form>
