
<!--
    "blogs":{
    "title" : "Our Blog",
    "description" : "Increase your knowledge by reading articles with this blog. Let’s start",
    "search-placeholder" : "Topic",
    "button" : "Search",
    "recent-articles" : "Recent Articles",
    "all-articles" : "All Articles"
  }
 -->
 <section class="blogs">
  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">
          <!-- Home -->
          {{'app-name' | transloco}}
        </a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">
          {{'blogs.title' | transloco}}
        </a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">
          {{'blogs.scope' | transloco}}
        </a></li>
      </ol>
    </nav>

    <div class="text-center mb-5 head">
      <h1>
        {{'blogs.scope' | transloco}}
      </h1>
      <p>
        {{'blogs.description' | transloco}}
      </p>
    </div>
    <!-- <div class="form">
      <div class="row ">
        <div class="col">
          <input type="search"
          [placeholder] = "'blogs.search-placeholder' | transloco"
          >
        </div>
        <div class="col-auto">
          <a href="#">
            <button type="submit" class="btn btn-info">
              {{'blogs.button' | transloco}}
            </button>
          </a>
        </div>
      </div>
    </div> -->

    <div class="cards mt-5">
      <!-- <h5>
        {{'blogs.recent-articles' | transloco}}
      </h5>
      <div>
        <div class="row">
          <div class="col-lg-6 mb-4" *ngFor="let item of [].constructor(2)">
            <div class="card recent" style="background-image: url('/assets/background/Rectangle92.jpg')">
              <div class="card-body">
                <div class="texts">
                  <h4>
                    The world is not only #000000 and #FFFFFF
                  </h4>
                  <p>
                    Aug 2, 2021 · 5 min read
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <h5>
        <!-- All Articles -->
        {{'blogs.all-articles' | transloco}}
      </h5>
      <div>
        <!-- {{storageUrl}}/  [style.background-image]="'url(' + storageUrl + '/' + item.image + ')' -->
        <div class="row">
          <div class="col-lg-6 mb-4" *ngFor="let item of blogs" >
            <!-- style="background-image: url('/assets/background/Rectangle92.jpg')" -->
            <div class="card"


            >
               <div class="card-body">
                <img src="{{storageUrl}}{{item.image}}" width="100%" >
                <div class="texts">
                  <h4>
                    {{item.Title}}
                  </h4>
                  <p *ngIf="!showmore">
                    <!-- Aug 2, 2021 · 5 min read -->
                    {{item.Description | slice:0:100}}

                  </p>

                  <p *ngIf="showmore">
                    <!-- Aug 2, 2021 · 5 min read -->
                    {{item.Description}}
                    <p *ngFor="let l of item.Links">
                      {{'blogs.ref' | transloco}} <br>
                     <a href="{{l}} |safe" target="_blank">Reference Link</a>
                    </p>
                  <button  class="btn btn-primary"      (click)="showAllDesc()" >{{btnText}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="no-results" *ngIf=" blogs.length == 0" >
    <div class="card" style="align-items: center;">
      <div class="card-body">
        <img src="assets/icons/no-results.svg" alt="no-results">
        <h5>
          <!-- No Results -->
          {{ 'find-a-doctor.doctors-list.no-results.title' | transloco }}
        </h5>
        <p>
          <!-- There are no doctors that match your search -->
          {{ 'find-a-doctor.doctors-list.no-results.description' | transloco }}
        </p>
      </div>
    </div>
  </div>
</section>
